*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-color: black;
}   
#box{
    width: 100%;
    height: 100%;
    background : radial-gradient(circle at 10px 10px, red, yellow, green);
}