*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: rgb(160, 176, 138);

}
#box{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 15%;
    
}
h1{
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
}
 #h{
    text-align: center;
    color: rgb(36, 92, 69);
    background-color: rgb(175, 177, 92);
}
#h{
    border : solid rgba(18, 138, 88, 0.506)  6px;
    width: 200px;
    height: 100px;   
    padding : 20px; 
    margin: auto; 
    margin-top: 10%;
    font-size: 50px;
    border-radius: 20px;
}

button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    align-items: center;
    justify-content: center;
    border: 0;
    color:rgb(36, 92, 69)
}
button:hover {
    background-color: rgb(239, 240, 239);
    color: red;
    transition: background-color 300ms ease 200ms, color 300ms ease

}