body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a25bbe, #2e8d44);
    transition: background-color 0.5s ease;
}

.box {
    background: rgba(86, 57, 57, 0.312);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    border-radius: 20px;
    padding: 40px 60px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
}

h1 {
    color: white;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.btn-box {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: white;
    background: rgba(255,255,255,0.2);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(203, 178, 178, 0.8);
}

.active {
    background: black;
    transform: scale(1.1);
    border: 2px solid white;
}
